#wrapper {
  font-family: trebuchet ms;
  display:grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  background-color: #ffffff;
  color: #051d21;
  padding: 20px;
}

#title {
  grid-column-start:1;
  grid-column-end: 3;
  grid-row-start:1;
  grid-row-end: 2;
  margin-left: 550px
}

#navbar {
  grid-column-start:1;
  grid-column-end: 3;
  grid-row-start:2;
  grid-row-end: 3;
  font-size:17px;
  background-color: #dae5ff;
}

#navbar ul{
  list-style-type:none;
  text-align: center;
  padding: 10px;

}

#navbar ul li{
  display:inline;
}

#navbar li a {
  text-decoration: none;
  padding: 50px;
  color: #051d21;
}

#navbar a:hover {
  background-color: #a6bcf2;
  color: #ffffff;
  padding-top: 27px;
  padding-bottom: 27px;
}

#futuretitle {
  grid-column-start:1;
  grid-column-end: 3;
  grid-row-start:3;
  grid-row-end: 4;
  font-size:14px;
  padding: 5px;
  text-align:center;
  width:175;
  margin-bottom: 0px;
}

#ftext1 {
  grid-column-start:1;
  grid-column-end: 3;
  grid-row-start:4;
  grid-row-end: 5;
  padding: 5px;
  width:175;
  margin-left:200px;
  margin-right:200px;
  margin-bottom: 20px;
  text-align: center;
}

#ftitle1 {
  grid-column-start:1;
  grid-column-end: 2;
  grid-row-start:5;
  grid-row-end: 6;
  padding: 5px;
  text-align:center;
  
}

#ftext2 {
  grid-column-start:1;
  grid-column-end: 2;
  grid-row-start:6;
  grid-row-end: 7;
  padding: 5px;
  width:175;
  margin-left:100px;
  margin-right:100px;
  margin-bottom: 20px;
}

#fimage1 {
  grid-column-start:2;
  grid-column-end: 3;
  grid-row-start:5;
  grid-row-end: 10;
  margin-left:120px ;
  margin-bottom: 10px;
  height: 20px;
}

#fisrc1 {
  grid-column-start:2;
  grid-column-end: 3;
  grid-row-start:10;
  grid-row-end: 11;
  padding: 5px;
  width:175;
  margin-left:75px;
  margin-right:125px;
  margin-bottom: 20px;
  margin-top: 70px;
  text-align:center;
}

#ftitle2 {
  grid-column-start:1;
  grid-column-end: 2;
  grid-row-start:8;
  grid-row-end: 9;
  padding: 5px;
  text-align:center;
  
}

#twotext {
  grid-column-start:1;
  grid-column-end: 2;
  grid-row-start:9;
  grid-row-end: 10;
  padding: 5px;
  width:175;
  margin-left:100px;
  margin-right:100px;
  margin-bottom: 20px;
}


#flasttext {
  grid-column-start:1;
  grid-column-end: 3;
  grid-row-start:12;
  grid-row-end: 13;
  padding: 5px;
  width:175;
  margin-left:350px;
  margin-right:350px;
  margin-bottom: 20px;
  text-align: center;
}

#ftitle3 {
  grid-column-start:1;
  grid-column-end: 3;
  grid-row-start:11;
  grid-row-end: 12;
  padding: 5px;
  text-align:center;
  
}

.para {
   line-height: 1.5; 
}

