#wrapper {
  font-family: trebuchet ms;
  display:grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  background-color: #ffffff;
  color: #051d21;
  padding: 20px;
}

#title {
  grid-column-start:1;
  grid-column-end: 3;
  grid-row-start:1;
  grid-row-end: 2;
  margin-left: 550px
}

#navbar {
  grid-column-start:1;
  grid-column-end: 3;
  grid-row-start:2;
  grid-row-end: 3;
  font-size:17px;
  background-color: #dae5ff;
}

#navbar ul{
  list-style-type:none;
  text-align: center;
  padding: 10px;

}

#navbar ul li{
  display:inline;
}

#navbar li a {
  text-decoration: none;
  padding: 50px;
  color: #051d21;
}

#navbar a:hover {
  background-color: #a6bcf2;
  color: #ffffff;
  padding-top: 27px;
  padding-bottom: 27px;
}

#modeltitle {
  grid-column-start:1;
  grid-column-end: 3;
  grid-row-start:3;
  grid-row-end: 4;
  font-size:14px;
  padding: 5px;
  text-align:center;
  width:175;
  margin-bottom: 0px;
}



#mtext1 {
  grid-column-start:1;
  grid-column-end: 3;
  grid-row-start:4;
  grid-row-end: 5;
  padding: 5px;
  width:175;
  margin-left:100px;
  margin-right:100px;
  margin-bottom: 20px;
}

#model1title {
  grid-column-start:1;
  grid-column-end: 3;
  grid-row-start:5;
  grid-row-end: 6;
  padding: 5px;
  text-align:center;
  margin-top: 0px;
  margin-bottom: 0px;

}

#threedmodel1 {
    grid-column-start:1;
    grid-column-end: 3;
    grid-row-start:6;
    grid-row-end: 7;
    width: 600px;
    height: 600px;
    padding-bottom: 10px;
    margin-left: 400px;
    margin-right: 400px;
    border-style: solid;
    border-color: #dae5ff;
    border-width: 10px;
}

#model2title {
  grid-column-start:1;
  grid-column-end: 3;
  grid-row-start:7;
  grid-row-end: 8;
  padding: 5px;
  text-align:center;
  margin-top: 0px;
  margin-bottom: 0px;

}

#threedmodel2 {
    grid-column-start:1;
    grid-column-end: 3;
    grid-row-start:8;
    grid-row-end: 9;
    width: 600px;
    height: 565px;
    margin-left: 400px;
    margin-right: 400px;
    border-style: solid;
    border-color: #dae5ff;
    border-width: 10px;
}

#partstitle {
  grid-column-start:1;
  grid-column-end: 3;
  grid-row-start:9;
  grid-row-end: 10;
  padding: 5px;
  text-align:center;
  margin-top: 0px;
  margin-bottom: 0px;

}

#partstext1 {
  grid-column-start:1;
  grid-column-end: 2;
  grid-row-start:10;
  grid-row-end: 11;
  padding: 5px;
  width:175;
  margin-left:125px;
  margin-right:75px;
  margin-bottom: 20px;
  background-color:#dae5ff;
  padding-right: 40px
}

#partstext2 {
  grid-column-start:2;
  grid-column-end: 3;
  grid-row-start:10;
  grid-row-end: 11;
  padding: 5px;
  width:175;
  margin-left:75px;
  margin-right:125px;
  margin-bottom: 20px;
  background-color:#dae5ff;
  padding-right: 40px;
}

.para {
   line-height: 1.5; 
}